{% extends "base_home.html" %}
{% load static %}
{% block bodycontent %}

<main id="main">
  <section>
        <div class="col-lg-100  mb-8">
            <div class="row justify-content-center">
              <div class="col-md-100">
                <div class="card-group mb-0">
                  <div class="card p-8">
                    <div class="card-body">
                      <h4 class="page-title text-center">Terms and Conditions</h4>
                      <h4>By signing up, you agree to the following terms and conditions:</h4>

                      <ul id="terms-list">
                        <li>Content Ownership: All content on this blog is owned by the news owner or the respective
                          content creators.</li>
                        <li>Copyright Notice: The news content is protected by copyright laws.</li>
                        <li>User Conduct: Users must refrain from posting offensive, abusive, or harmful content in
                          comments or submissions.
                        </li>
                        <li>Comment Policy: Specify how comments are moderated, what types of comments are allowed, and
                          reserve the right to remove or edit inappropriate comments.</li>
                        <li>Privacy Policy: Provide a link to the news privacy policy, explaining how user data is
                          collected, stored, and used.</li>
                        <li>Disclaimer: Include a disclaimer that the news content is for informational purposes only and does
                          not constitute professional advice. Encourage users to seek professional advice when needed.</li>
                        <li>External Links: State that the news may contain links to external websites, and the news
                          owner is
                          not
                          responsible for the content or actions of those websites.</li>
                        <li>Affiliate Links/Ads: If your news includes affiliate links or ads, disclose this information
                          to
                          users.
                        </li>
                        <li>Age Restriction: If the news is not suitable for minors, clearly state the age restriction
                          for
                          users.
                        </li>
                        <li>Changes to Terms: Reserve the right to update or modify the terms and conditions at any time
                          and
                          inform users
                          about the changes.</li>
                        <li>Termination: Clarify that the news owner can terminate or suspend user access at their
                          discretion,
                          especially in
                          case of violations of the terms.</li>
                        <li>Governing Law: Specify the jurisdiction that governs the terms and conditions.</li>
                        <li>Contact Information: Provide contact information for users to get in touch with any concerns
                          or
                          inquiries.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </section>
</main>

{%endblock%}