{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
{% load crispy_forms_tags %}
{% load pagination_tags %}


<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">
        <div class="post-entry-1 lg">
          {% for new in news %}
              <div class="post-entry-1">
                {% if new %}
                <a href="{% url 'news_details' new.id %}">
                  <img src="{{new.image.url}}" alt="" class="img-details">
                </a>
                <div class="post-meta">
                    <span class="date">{{new.get_news_type_display}}</span> 
                    <span class="mx-1">&bullet;</span> 
                    <span>{{new.date}}</span>
                </div>
                <h2 style="font-size: 30px;"><a href="{% url 'news_details' new.id %}">{{new.title}}</a></h2>
                <span><a type="button" class="btn btn-primary" href="{% url 'news_details' new.id %}"><i
                  class="far fa-eye"></i></a>
                <a type="button" class="btn btn-primary" href="{% url 'my_news_update' new.id %}"><i
                  class="fas fa-edit"></i></a>
                <a type="button" class="btn btn-primary" href="{% url 'my_news_delete' new.id %}"><i
                  class="far fa-trash-alt"></i></a></span>
              </div>
              <hr>
              {% else %}
              <h3>You have no posts yet.</h3>
              {% endif %}
          {% endfor %}
        </div>
    </div>
  </section> <!-- End Post Grid Section -->
  
  {% if is_paginated %}
  <nav aria-label="Page navigation example" class="d-flex justify-content-center pt-3">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li style="margin-right: 10px;"><a class="pagination-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Prev</a></li>
      {% else %}
        <li style="margin-right: 10px;" class="disabled"><span>Prev</span></li>
      {% endif %}
      
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active"><span class="active-page">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?{% url_replace request 'page' i %}" class="pagination-link">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
        <li style="margin-left: 10px;"><a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="pagination-link">Next</a></li>
      {% else %}
        <li style="margin-right: 10px;" class="disabled"><span>Next</span></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<script>
  // Attach an event listener to the select element
  document.getElementById('blogs_per_page').addEventListener('change', function () {
      // Get the selected value
      var selectedValue = this.value;

      // Build the new URL with the updated query parameter
      var newUrl = updateQueryStringParameter(window.location.pathname, 'blogs_per_page', selectedValue);

      // Redirect to the new URL
      window.location.href = newUrl + window.location.search + window.location.hash;
  });

  // Function to update query string parameter
  function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
          return uri.replace(re, '$1' + key + "=" + value + '$2');
      } else {
          return uri + separator + key + "=" + value;
      }
  }
</script>

{% endblock %}
