{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
{% load pagination_tags %}
<form action="" method="get">
  {{filter.form}}
  <input type="submit" />
</form>
<section id="posts" class="posts">
    <div class="container" data-aos="fade-up">

        <div class="col-lg-8">
          <div class="row g-5">
            <div class="post-entry-1 lg">
              {% for new in news %}
                  <div class="post-entry-1">
                    {% if new %}
                    <a href="single-post.html">
                      <img src="{{new.image.url}}" alt="" class="img-details">
                    </a>
                    <div class="post-meta">
                        <span class="date">{{new.get_news_type_display}}</span> 
                        <span class="mx-1">&bullet;</span> 
                        <span>{{new.date}}</span>
                    </div>
                    <h2><a href="single-post.html">{{new.title}}</a></h2>
                    <span><a type="button" class="btn btn-primary" href="{% url 'my_news_details' new.id %}"><i
                      class="far fa-eye"></i></a>
                    <a type="button" class="btn btn-success" href="{% url 'my_news_update' new.id %}"><i
                      class="fas fa-edit"></i></a>
                    <a type="button" class="btn btn-danger" href="{% url 'my_news_delete' new.id %}"><i
                      class="far fa-trash-alt"></i></a></span>
                  </div>
                  <hr>
                  {% else %}
                  <h3>You have no posts yet.</h3>
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>


    </div>
  </section> <!-- End Post Grid Section -->

<nav aria-label="Page navigation example" class="d-flex justify-content-center pt-3">
  <ul class="pagination">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}   ?page={{page_obj.previous_page_number}}">Prev</a></li>
    {% else %}
    <li class="disabled"><span>Prev</span></li>
    {% endif %}
    
    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a></li>
    {% else %}
    <li class="disabled"><span>Next</span></li>
    {% endif %}
    {% endif %}
  </ul>
</nav>

{% endblock %}