{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
{% load crispy_forms_tags %}

<div class="content-section">
    <h2>Password Reset Confirm</h2><hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Reset password</button>
    </form>
</div>

<script>
    function updateDateTime() {
    const datetimeElement = document.getElementById('datetime');
    const now = new Date();
    const options = { weekday: 'short', year: 'numeric', month: 'numeric', day: 'numeric' };
    const formattedDate = now.toLocaleDateString('en-US', options);
    datetimeElement.textContent = formattedDate;
    }

    // Initial call to set the date and time
    updateDateTime();

    // Update the date and time every second
    setInterval(updateDateTime, 1000);
    </script>

{% endblock %}
