{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
{% load crispy_forms_tags %}

<!-- // validation example for Login form
$("#btnLogin").click(function(event) {
    
    var form = $("#loginForm");
    
    if (form[0].checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
    }
    
    // if validation passed form
    // would post to the server here
    
    form.addClass('was-validated');
}); -->

<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="container">
        <h3 class="mb-4">Change Password Confirmation</h3>
        <form class="form" role="form" autocomplete="off" method = "post" action = "{% url 'profile' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Old Password</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="password-requirements">
                <p>Your password must meet the following requirements:</p>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <div><br></div>
            <button type="submit" class="button-74">Save changes</button>
            <a type="button" class="button-74" href="{% url 'profile' %}">Cancel </a>
            <div><br></div>
        </form>
    </div>
    
        
        </div>
    </div>
    <!-- /form card change password -->

</div>

{% endblock %}
