
{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
{% load crispy_forms_tags %}

<!-- // validation example for Login form
$("#btnLogin").click(function(event) {
    
    var form = $("#loginForm");
    
    if (form[0].checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
    }
    
    // if validation passed form
    // would post to the server here
    
    form.addClass('was-validated');
}); -->

<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="container">
        <h3 class="mb-4">Change Password Confirmation</h3>
        <form class="form" role="form" autocomplete="off" method = "post" action = "{% url 'profile' %}">
            {% csrf_token %}
            {{ form | crispy }}
            <div><br></div>
            <button class="button-74" type="submit">Change Password</button>
            <div><br></div>
        </form>
    </div>
    
        
        </div>
    </div>
    <!-- /form card change password -->

</div>

{% endblock %}
