{% extends 'base_home.html' %} {% load static %}
{% block bodycontent %}
  <!-- ======= Header ======= -->

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="{% static 'assets/img/news.jpeg' %}" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">About us</div>
              <h2 class="mb-4 display-4">Company History</h2>
              {% for i in info %}
              <p style="text-align: justify;">
                {{i.about}}</p>
              {% endfor %}
            </div>
          </div>
          <div class="d-md-flex post-entry-2 half mt-5">
            <a href="#" class="me-4 thumbnail order-2">
              <img src="{% static 'assets/img/post-landscape-1.jpg' %}" alt="" class="img-fluid">
            </a>
            <div class="pe-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Mission &amp; Vision</div>
              <h2 class="mb-4 display-4">Mission &amp; Vision</h2>
              {% for i in info %}
              <p style="text-align: justify;">{{i.mission}}</p>
              {% endfor %}
            </div>
          </div>

        </div>

      </div>
    </section>

    <section class="mb-5 bg-light py-5">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-between align-items-lg-center">
          <div class="col-lg-5 mb-4 mb-lg-0">
            <h2 class="display-4 mb-4">Latest News</h2>
            {% for i in info %}
            <p style="text-align: justify;">{{i.latest_news_text1}}</p>
            <p style="text-align: justify;">{{i.latest_news_text2}}</p>
            {% endfor %}
            <p><a href="/" class="more">View All News</a></p>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-6">
                <img src="{% static 'assets/img/post-portrait-3.jpg' %}" alt="" class="img-fluid mb-4">
              </div>
              <div class="col-6 mt-4">
                <img src="{% static 'assets/img/post-portrait-4.jpg' %}" alt="" class="img-fluid mb-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Our Team</h2>
                {% for i in info %}
                <p style="text-align: center;">{{i.about_team}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          {% for member in team_members %}
          <div class="col-lg-4 text-center mb-5">
          
            <img src="{{member.image.url}}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4><a href="{{member.linkedin}}" target="_blank">{{member.full_name}}</a></h4>
            <!-- <h4>{{member.full_name}} href={{member.linkedin}}</h4> -->
            <span class="d-block mb-3 text-uppercase">{{member.position}} </span>
            <p style="text-align: justify;">{{member.description}}</p>
          
          </div>
          {% endfor %}
          
        </div>
      </div>
    </section>

    <script>
      function updateDateTime() {
      const datetimeElement = document.getElementById('datetime');
      const now = new Date();
      const options = { weekday: 'short', year: 'numeric', month: 'numeric', day: 'numeric' };
      const formattedDate = now.toLocaleDateString('en-US', options);
      datetimeElement.textContent = formattedDate;
      }

      // Initial call to set the date and time
      updateDateTime();

      // Update the date and time every second
      setInterval(updateDateTime, 1000);
      </script>

  {% endblock %}
  