{% extends 'base_home.html' %}
{% load static %}
{% block bodycontent %}
{% load pagination_tags %}

<!-- <div id="datetime" class = "date_time" style="font-size: 12px; color: #fff;"></div> -->

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                 
                {% for new in most_viewed_news %}
                <div class="swiper-slide">
                  <a href="{% url 'news_details' new.id %}" class="img-bg d-flex align-items-end" style="background-image: url({{new.image.url}})">
                    <div class="img-bg-inner">
                      <h2>{{ new.title }}</h2>
                      <p>{{ new.description | truncatewords:17 }}...</p>
                    </div>
                  </a>
                </div>
                {% endfor %}

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

  
    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            {% for new in newest_news|slice:":1" %}
            <div class="post-entry-1">
              <a href="{% url 'news_details' new.id %} "><img src="{{new.image.url}}" alt="" class="img-fluid" width="60" height="60"></a>
              <div class="post-meta"><span class="date">{{new.get_news_type_display}}</span> <span class="mx-1">&bullet;</span> <span>{{new.date}}</span>
                <span class="mx-1">&bullet;</span>Viewes: {{new.view_count}}</span> </div>
              <h2><a href="{% url 'news_details' new.id %}">{{new.title}}</a></h2>
              <p class="mb-4 d-block">{{ new.description | truncatewords:25 }}...</p>
                <div class="name">
                  <h6 class="m-0 p-0">Created by <i>{{user.first_name}} {{user.last_name}}</i> </h6>
                </div>
            </div>
              {% endfor %}
            <div class="trending">
              <h3>Trending News</h3>
                <ul class="trending-post">
                {% for new in most_viewed_news %}
                  <li>
                    <a href="{% url 'news_details' new.id %}">
                      <span class="number">{{forloop.counter}}</span>
                      <h3 style="text-align: justify;">{{new.title}}</h3>
                      <span class="author">Created by <i>{{user.first_name}} {{user.last_name}}</i></span>
                    </a>
                  </li>
                {% endfor %}
                </ul>
            </div>
          </div>
            <div class="col-lg-8">
              <div class="row g-5">
                {% for new in news %}
                <div class="col-lg-4 border-start custom-border">
                  <div class="post-entry-1-small">
                    <a href="{% url 'news_details' new.id %}">
                      <img src="{{new.image.url}}" alt="" class="img-fluid" class="align-items-center">
                    </a>
                    <div class="post-meta">
                      <span class="date">{{new.get_news_type_display}}</span>
                      <span class="mx-1">&bullet;</span>
                      <span>{{new.date}}</span>
                      <span class="mx-1">&bullet;</span>
                      <span>Viewes: {{new.view_count}}</span>
                    </div>
                    <h2 style="font-size: 20px; text-align: justify;"><a href="{% url 'news_details' new.id %}">{{new.title}}</a></h2>
    
                  </div>
                </div>
                {% endfor %}
              </div>
    
            </div>
    
    
          </div>
    
        </div>
    
      </section>
      <div>

        {% if is_paginated %}
        <nav aria-label="Page navigation example" class="d-flex justify-content-center pt-3">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li style="margin-right: 10px;"><a class="pagination-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Prev</a></li>
            {% else %}
              <li style="margin-right: 10px;" class="disabled"><span>Prev</span></li>
            {% endif %}
            
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                  <li class="active"><span class="active-page" style="margin-right: 14px;">{{ i }}<span class="sr-only">(current)</span></span></li>
              {% else %}
              <li><a href="?{% url_replace request 'page' i %}" class="pagination-link" style="margin-right: 14px;" > {{ i }} </a></li>
              {% endif %}
            {% endfor %}
            
            {% if page_obj.has_next %}
              <li style="margin-left: 14px;"><a href="?{% url_replace request 'page' page_obj.next_page_number %}" class="pagination-link">Next</a></li>
            {% else %}
              <li style="margin-right: 14px;" class="disabled"><span>Next</span></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
      <script>
      function updateDateTime() {
      const datetimeElement = document.getElementById('datetime');
      const now = new Date();
      const options = { weekday: 'short', year: 'numeric', month: 'numeric', day: 'numeric' };
      const formattedDate = now.toLocaleDateString('en-US', options);
      datetimeElement.textContent = formattedDate;
      }

      // Initial call to set the date and time
      updateDateTime();

      // Update the date and time every second
      setInterval(updateDateTime, 1000);
      </script>
{% endblock %}
  